@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5372f0;
}

.container {
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}

.container .wrapper {
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text {
    border-left: 1px solid #bbb;
    border-radius: 0px;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
}

.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .icons {
    width: 38%;
}

.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}

.controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #bbb;
}

.controls .icons i{
    color: #9f9f9f;
    font-size: 14px;
    width: 50px;
    cursor: pointer;
    justify-content: center;
}

.controls .row select {
    border: none;
    outline: none;
    background: none;
    font-style: 18px;
}

.controls .exchange {
    color: #9f9f9f;
    cursor: pointer;
    font-size: 16px;
}

.container button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    background: #5372f0;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
}